/* add your CSS here */
.outerBorder
{
	border: 0.1em solid;
    height: 800px;
    width: 400px;    
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.21);
}

.imageContent
{
	border: 1px solid #00000040;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;

}   